<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>
        <div id="logo">
            <a href="{% url 'principal' %}"><img src="{% static 'favicon_io\android-chrome-512x512.png'%}" alt="SocialNexus"></a>
        </div>
        <div id="links-navbar">
        <a href="{% url 'primero' %}"><div>{% trans 'Primero' %}</div></a>
        <a href="{% url 'segundo' %}"><div>{% trans 'Segundo' %}</div></a>
        </div>
        <div>
            <a href="#"><div>{% trans 'Cerrar sesion' %}</div></a>
        </div>
    </nav>
    <p>
    {% block content %} {% endblock %}
    </p>
</body>
</html>